{
  "openapi": "3.1.0",
  "info": {
    "title": "SmithTech API with Insights",
    "description": "API endpoints for SmithTech with insights and operation IDs.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://smithtech.io/v1"
    }
  ],
  "paths": {
    "/api/systems": {
      "get": {
        "description": "Retrieve a list of all hospital systems in the database. This endpoint serves as a reference table for translating hospital system names to their corresponding SystemIDs, which may be required for other routes.",
        "operationId": "getHospitalSystems",
        "responses": {
          "200": {
            "description": "A list of hospital systems with details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Description": {
                        "type": "string",
                        "description": "A brief description of the hospital system."
                      },
                      "FoundedYear": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The year the hospital system was founded. Null if not available."
                      },
                      "Headquarters": {
                        "type": "string",
                        "description": "Location of the hospital system's headquarters."
                      },
                      "SystemID": {
                        "type": "integer",
                        "description": "Unique identifier for the hospital system."
                      },
                      "SystemName": {
                        "type": "string",
                        "description": "Name of the hospital system."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/react/eligibility/insurance-types": {
      "get": {
        "description": "Retrieve a list of different insurance types. Each type is identified by a unique InsuranceTypeID and has a corresponding InsuranceType name. This serves as a reference table for various insurance types.",
        "operationId": "getInsuranceTypes",
        "responses": {
          "200": {
            "description": "A list of insurance types with their IDs and names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "InsuranceType": {
                        "type": "string",
                        "description": "The name of the insurance type."
                      },
                      "InsuranceTypeID": {
                        "type": "integer",
                        "description": "Unique identifier for the insurance type."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}
