{
  "openapi": "3.1.0",
  "info": {
    "title": "SmithTech API with Insights",
    "description": "API endpoints for SmithTech with insights and operation IDs.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://smithtech.io"
    }
  ],
  "paths": {
    "/api/systems": {
      "get": {
        "description": "This endpoint is a reference table containing the system names and ID for the hospital systems. It should be use whenever a SystemID is needed to be passed into another route",
        "operationId": "getOperation0",
        "insight": "Endpoint '/api/systems' is designed for This endpoint is a reference table containing the system names and ID for the hospital systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/systems/1": {
      "get": {
        "description": "Example Use returns SystemID,SystemName for SystemID = 1,",
        "operationId": "getOperation1",
        "insight": "Endpoint '/api/systems/1' is designed for Example Use returns SystemID,SystemName for SystemID = 1,.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/locations": {
      "get": {
        "description": "This endpoint is a reference table containing the location names and ID for the hospital systems. It should be use whenever a LocationID is needed to be passed into another route",
        "operationId": "getOperation2",
        "insight": "Endpoint '/api/locations' is designed for This endpoint is a reference table containing the location names and ID for the hospital systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/locations/2": {
      "get": {
        "description": "Example Use returns LocationID,LocationName for SystemID = 1,",
        "operationId": "getOperation3",
        "insight": "Endpoint '/api/locations/2' is designed for Example Use returns LocationID,LocationName for SystemID = 1,.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurances": {
      "get": {
        "description": "This endpoint is a reference table containing the insurance plan names and ID for the hospital systems. It should be use whenever a PlanID needed to be passed into another route",
        "operationId": "getOperation4",
        "insight": "Endpoint '/react/eligibility/insurances' is designed for This endpoint is a reference table containing the insurance plan names and ID for the hospital systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurances/1": {
      "get": {
        "description": "Example used to get InsurancePlan information for PlanID = 1",
        "operationId": "getOperation5",
        "insight": "Endpoint '/react/eligibility/insurances/1' is designed for Example used to get InsurancePlan information for PlanID = 1.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-types": {
      "get": {
        "description": "This endpoint is a reference table containing the insurance type names and ID for the hospital systems. It should be use whenever a InsuranceTypeID needed to be passed into another route",
        "operationId": "getOperation6",
        "insight": "Endpoint '/react/eligibility/insurance-types' is designed for This endpoint is a reference table containing the insurance type names and ID for the hospital systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-types/3": {
      "get": {
        "description": "Example used to get InsuranceTypeID, InsuranceType for InsuranceTypeID =3",
        "operationId": "getOperation7",
        "insight": "Endpoint '/react/eligibility/insurance-types/3' is designed for Example used to get InsuranceTypeID, InsuranceType for InsuranceTypeID =3.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-plans/4": {
      "get": {
        "description": "Example used to get plans for given CarrierID",
        "operationId": "getOperation8",
        "insight": "Endpoint '/react/eligibility/insurance-plans/4' is designed for Example used to get plans for given CarrierID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/records/system/3": {
      "get": {
        "description": "Example gets in network for SystemID = 4",
        "operationId": "getOperation9",
        "insight": "Endpoint '/react/eligibility/records/system/3' is designed for Example gets in network for SystemID = 4.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/records/system/4/location/17": {
      "get": {
        "description": "Example gets in network insurnace plans for SystemID = 4 and Location  = 17",
        "operationId": "getOperation10",
        "insight": "Endpoint '/react/eligibility/records/system/4/location/17' is designed for Example gets in network insurnace plans for SystemID = 4 and Location  = 17.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/network-info/1": {
      "get": {
        "description": "Example Use get the LocationID and SystemID for given PlanID",
        "operationId": "getOperation11",
        "insight": "Endpoint '/react/eligibility/network-info/1' is designed for Example Use get the LocationID and SystemID for given PlanID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/db_admin/tables": {
      "get": {
        "description": "Returns all the table in the database",
        "operationId": "getOperation12",
        "insight": "Endpoint '/db_admin/tables' is designed for Returns all the table in the database.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/charges/billingcode/99212": {
      "get": {
        "description": "Example returns list of rows where ServiceDescription is = 99212",
        "operationId": "getOperation13",
        "insight": "Endpoint '/react/charges/billingcode/99212' is designed for Example returns list of rows where ServiceDescription is = 99212.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/charges/description/lung": {
      "get": {
        "description": "Example returns list of rows where BillingCode is like '%lung%'",
        "operationId": "getOperation14",
        "insight": "Endpoint '/react/charges/description/lung' is designed for Example returns list of rows where BillingCode is like '%lung%'.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}