{
  "openapi": "3.1.0",
  "info": {
    "title": "SmithTech API with Insights",
    "description": "API endpoints for SmithTech with insights and operation IDs.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://smithtech.io"
    }
  ],
  "paths": {
    "/api/systems": {
      "get": {
        "description": "This endpoint is a reference table containing the SystemName and SytemID for the hospital systems. It should be use whenever a SystenName or SystemID is needed  or given by the user. There ar eother routes that require a SystemID and should use this as a  reference table",
        "operationId": "getSystems",
        "insight": "Endpoint '/api/systems' is designed as a reference table containing the system names and ID for the hospital systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/locations": {
      "get": {
        "description": "This endpoint is a reference table containing the location names and ID for the hospital systems. It should be use whenever a LocationID is needed to be passed into another route",
        "operationId": "getLocations",
        "insight": "Endpoint '/api/locations' is designed as a reference table containing the LocationName and LocationID for all locations, also contains SystemID, address, URL information.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api/locations/<int: SystemID>": {
      "get": {
        "description": "This endpoint is a reference table containing the location names and ID for the hospital systems. It should be use whenever a LocationID is needed to be passed into another route",
        "operationId": "getLocationsbySystemID",
        "insight": "Endpoint '/api/locations/<int: SystemID>' is designed as a reference table containing the Location information and ID for the given hospital system using SystemID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurances": {
      "get": {
        "description": "This endpoint is a reference table containing the insurance plan names and ID for the hospital systems. It should be use whenever a PlanID needed to be passed into another route",
        "operationId": "getAllInsurances",
        "insight": "Endpoint '/react/eligibility/insurances' is designed for This endpoint is a reference table containing the PlanName PanID for all the Insurance Plans.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurances/<int: PlanID>": {
      "get": {
        "description": "Get the list of SystemIDs and LocationIDs for the given InsurancePlanID",
        "operationId": "getEligibleLocationIDandSystemID",
        "insight": "Endpoint '/react/eligibility/insurances/<int: PlanID>' is designed for Example used to get InsurancePlan information for the given PlanID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-types": {
      "get": {
        "description": "This endpoint is a reference table containing the insurance type names and ID for the hospital systems. It should be use whenever a InsuranceTypeID needed to be passed into another route",
        "operationId": "getInsuranceTypes",
        "insight": "Endpoint '/react/eligibility/insurance-types' is  reference table containing the InsurancyTypeID, InsuranceTypeName for all of the different insurance types.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-types/<int: InsuranceTypeID>": {
      "get": {
        "description": "Example used to get InsuranceTypeID, InsuranceType for  given InsuranceTypeID ",
        "operationId": "getInsuranceTypebyInsuranceTypeID",
        "insight": "Endpoint '/react/eligibility/insurance-types/<int: InsuranceTypeID>' is designed for Example used to get InsuranceType information for given InsuranceTypeID .",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/insurance-plans/<int: CarrierID>": {
      "get": {
        "description": "Example used to get plans for given CarrierID",
        "operationId": "getPlansbyCarrierID",
        "insight": "Endpoint '/react/eligibility/insurance-plans/<int: CarrierID>' is designed to get plans for given CarrierID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/records/system/<int: SystemID>": {
      "get": {
        "description": "Get In-network insurance plans for a SystemID",
        "operationId": "getInNetworkPlans by SystemID",
        "insight": "Endpoint '/react/eligibility/records/system/<int: SystemID>' is designed  to get in network insurance plans for a given SystemID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/records/system/<SystemID>/location/<LocationID>": {
      "get": {
        "description": "Get charges for a given SystemID and LocationID",
        "operationId": "getAllChargesforSystemIDandLocationID",
        "insight": "Endpoint '/react/eligibility/records/system/<SystemID>/location/<LocationID>' is designed to get in network insurnace plans for a given SystemID and LocationID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/eligibility/network-info/<int: PlanID>": {
      "get": {
        "description": "Example Use get the LocationID and SystemID for given PlanID",
        "operationId": "getInNetworkLocationIDanSystemIDbyPlanID",
        "insight": "Endpoint '/react/eligibility/network-info/<int PlanID>' is designed  to get all in network SystemID and LocationID for given PlanID.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/db_admin/tables": {
      "get": {
        "description": "Returns all the table in the database",
        "operationId": "getTables",
        "insight": "Endpoint '/db_admin/tables' is designed for Returns all the table in the database.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/charges/billingcode/<string: BillingCode>": {
      "get": {
        "description": "Example returns list of rows where billing code",
        "operationId": "getChargesbyBillingCode",
        "insight": "Endpoint '/react/charges/billingcode/99212' is designed for Example returns list of rows where ServiceDescription is = 99212.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/react/charges/description/<string: Description>": {
      "get": {
        "description": "Example returns list of rows where descroptin is like ",
        "operationId": "getOperation14",
        "insight": "Endpoint '/react/charges/description/<string: Description>' is designed for Example returns list of rows where BillingCode is like '%lung%'.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}
