/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body, html {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
  }
  body {
	background-image: url('./stsbackground.png'); /* Update with the actual image filename */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  }
  
  
  /* Style for the main content wrapper to add transparency */
  .content-wrapper {
	background: rgba(255, 255, 255, 0.9); /* semi-transparent white background */
	border-radius: 15px;
	padding: 20px;
	margin: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Typographic styles */
  h1 {
	font-size: 2.5rem;
	color: #007d7e;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .label {
	font-size: 1.2rem;
	color: #007d7e;
	margin: 10px 0;
	padding-left: 10px;
  }
  
  /* Styling for the system and location containers */
  #systems-container, #locations-container {
	margin-bottom: 20px;
  }
  
  /* Style for the table */
  #charges-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background: #fff;
  }
  
  #charges-table th, #charges-table td {
	text-align: left;
	padding: 12px;
  }
  
  #charges-table thead {
	background-color: #007d7e;
	color: #ffffff;
  }
  
  #charges-table tbody tr:nth-child(odd) {
	background-color: #f0f0f0;
  }
  
  #charges-table tbody tr:hover {
	background-color: #e1f5fe;
  }
  
  /* Button styles */
  button {
	background-color: #007d7e;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;	
	cursor: pointer;
	transition: background-color 0.2s;
  }
  
  button:hover {
	background-color: #005f5f;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
	.content-wrapper {
	  margin: 10px;
	  padding: 10px;
	}
  
	h1 {
	  font-size: 2rem;
	}
  
	#charges-table {
	  font-size: 0.9rem;
	}
  }
  
  /* Additional styles can be added below as needed */
  