<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <!-- Additional head content can be added by child templates -->
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <!-- Add any common CSS or JS here -->
  </head>
  <body>
    <header>
      <!-- Add common header elements here -->
    </header>

    <main>
      {% block content %}
      <!-- Content will be overridden in child templates -->
      {% endblock %}
    </main>

    <footer>
      <!-- Add common footer elements here -->
    </footer>

    {% block scripts %} {% endblock %}
  </body>
</html>
