{% extends "base.html" %} {% block head %}
<!-- DataTables core CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
/>
<!-- FixedHeader DataTables CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css"
/>
<!-- DataTables Buttons CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
/>
<!-- DataTables Responsive feature CSS -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"
/>
<!-- Custom styles for your table -->
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style.css') }}"
/>
{% endblock %} {% block title %}Home Page{% endblock %} {% block content %}
<div class="content-wrapper">
  <h1>Welcome to the ChargeMaster Project</h1>
  <div id="system-label" class="label">Select a Hospital System</div>
  <div id="systems-container">
    <!-- System buttons will be added here by JavaScript -->
  </div>

  <!-- Added div for displaying location buttons -->
  <div id="location-label" class="label">Select a Location</div>
  <div id="locations-container">
    <!-- Location buttons will be added here by JavaScript -->
  </div>

  <!-- New location information div -->
  <div id="location-information-label" class="label">Location Details</div>
  <!-- Location details will be displayed here -->
  <div id="location-information">
    <!-- Location details will be displayed here -->
  </div>

  <div id="buttonContainer"></div>

  <div id="charges-container">
    <table id="charges-table" class="display">
      <!-- DataTables will auto-generate headers and rows here -->
    </table>
  </div>
  <div>
    {% endblock %} {% block scripts %}
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables core JS -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- FixedHeader DataTables JS -->
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <!-- DataTables Responsive feature JS -->
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <!-- Your custom JavaScript file -->
    <script src="{{ url_for('static', filename='Chargemaster.js') }}"></script>
    <!-- Any additional custom script can be added here -->
    <script>
      // Your custom code can be placed here if needed
    </script>
    {% endblock %}
  </div>
</div>
