{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}

{% block title %}
Insurance Information
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <h1>Insurance Information</h1>
  <div id="system-label" class="label">Select a Hospital System:</div>
  <div id="systems-container">
    <!-- System buttons will be added here by JavaScript -->
  </div>
  
  <div id="location-label" class="label">Select a Location:</div>
  <div id="locations-container">
    <!-- Location buttons will be added here by JavaScript -->
  </div>
  
  <div id="insurances-container">
    <table id="insurances-table" class="display">
      <!-- DataTables will auto-generate headers and rows here -->
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='Insurances.js') }}"></script>
{% endblock %}
